.button {
    display: inline-block;
    vertical-align: middle;
    padding: 13px 28px 14px;

    color: $color-black;
    background-color: $color-primary;
    border: none;
    border-radius: 10px;
    cursor: pointer;

    font-family: inherit;
    font-size: 18px;
    font-weight: 500;
    text-align: center;
    line-height: inherit;

    transition: background-color 250ms;

    &:hover {
        background-color: $color-primary-active;
    }

    &:focus {
        @include outline;
    }

    &[disabled] {
        color: $color-gray-500;
        background-color: $color-gray-200;

        cursor: default;
    }
}
