.conditions {
    border-bottom: 1px solid $color-gray-200;
}

.conditions__list {
    margin: 0 auto;
    padding: 0;

    color: $color-gray-550;
    list-style: none;

    text-align: center;

    @include breakpoint(780px) {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    @include breakpoint($breakpoints-large down) {
        font-size: 14px;
    }

    @include breakpoint($breakpoints-large) {
        max-width: $page-max-width;
    }
}

.conditions__item {
    @include breakpoint(780px down) {
        & + & {
            margin-top: 30px;
        }
    }
}

.conditions__text {
    display: block;
    margin-bottom: -7px;

    color: $color-black;

    font-family: $font-family-heading, $font-family, sans-serif;
    font-weight: 700;
    line-height: 1.1;

    @include breakpoint($breakpoints-large down) {
        font-size: 30px;
    }

    @include breakpoint($breakpoints-large) {
        font-size: 36px;
    }

    b {
        font-weight: 700;

        @include breakpoint($breakpoints-large down) {
            font-size: 48px;
        }

        @include breakpoint($breakpoints-large) {
            font-size: 64px;
        }
    }
}
