.order {
    overflow: hidden;

    @include breakpoint($breakpoints-large down) {
        padding-top: 6px;
        padding-bottom: 62px;
    }

    @include breakpoint($breakpoints-large) {
        padding-bottom: 90px;
    }
}

.order__list {
    display: flex;
    justify-content: center;
    padding: 0;

    list-style: none;

    @include breakpoint($breakpoints-large down) {
        flex-wrap: wrap;
        margin: -22px -20px 32px;
        padding: 0 60px 0 16px;
    }

    @include breakpoint($breakpoints-large) {
        max-width: 893px;
        margin: 0 auto 44px;
        padding-top: 4px;
    }
}

.order__item {
    flex-grow: 1;
    margin-right: 20px;
    margin-left: 20px;
    padding-left: 33px;

    background-repeat: no-repeat;

    @include breakpoint($breakpoints-large down) {
        margin-top: 14px;
    }

    @include breakpoint($breakpoints-large) {
        min-width: 246px;
    }
}

.order__item_doc {
    background-image: url('../img/ico/doc.svg');
}

.order__item_message {
    background-image: url('../img/ico/message.svg');
}

.order__item_card {
    background-image: url('../img/ico/card.svg');
}

.order__form {
    display: flex;
    padding: 32px;

    @include breakpoint($breakpoints-large down) {
        min-height: 450px;
        margin: 0 -16px;
        background-color: $color-gray-100;
    }

    @include breakpoint($breakpoints-large) {
        max-width: 964px;
        min-height: 511px;
        margin: 0 auto;

        border: 1px solid $color-gray-200;
        border-radius: 12px;
    }
}

.order__fake-text {
    margin: auto;

    color: $color-gray-500;

    font-size: 18px;
    font-weight: 400;
    text-align: center;
}
