.page-main__section {
    padding: 45px 16px 40px;
}

.page-main__heading {
    margin-bottom: 15px;

    text-align: center;
}

.page-main__subheading {
    color: $color-gray-550;

    text-align: center;
}
