.page-main__section {
    padding: 45px 16px 40px;
}

.page-main__section_dark {
    color: $color-white;
    background-color: $color-gray-800;
}

.page-main__heading {
    margin: 0 auto 15px;

    text-align: center;

    @include breakpoint($breakpoints-large) {
        max-width: $page-max-width;
    }
}

.page-main__subheading {
    margin: 0 auto;

    color: $color-gray-550;

    text-align: center;

    .page-main__section_dark & {
        color: $color-white;
    }

    @include breakpoint($breakpoints-large) {
        max-width: $page-max-width;
    }
}
