.page-main__section {
    @include breakpoint($breakpoints-large down) {
        padding: 48px 16px 40px;
    }

    @include breakpoint($breakpoints-large) {
        padding: 66px 16px 61px;
    }
}

.page-main__section_dark {
    color: $color-white;
    background-color: $color-gray-800;
}

.page-main__heading {
    margin: 0 auto;
    text-align: center;

    @include breakpoint($breakpoints-large down) {
        margin-bottom: 34px;
        padding-top: 8px;
    }

    @include breakpoint($breakpoints-large) {
        margin-bottom: 36px;
        padding-top: 16px;
        max-width: $page-max-width;
    }
}

.page-main__subheading {
    margin: 0 auto;
    padding: 0 24px;

    color: $color-gray-550;

    text-align: center;

    .page-main__heading + & {
        margin-top: -20px;
    }

    .page-main__section_dark & {
        color: $color-white;
    }

    @include breakpoint($breakpoints-large) {
        max-width: $page-max-width;
        margin-bottom: 52px;

        font-size: 18px;
    }
}
