.page-header__container {
    display: flex;
    align-items: center;
    max-width: 1400px;
    margin: 0 auto;
    padding: 18px 16px;

    &::before {
        content: '';
        width: 1px;
        height: 28px;
        margin-right: 25px;

        background-color: $color-gray-200;
    }
}

.page-header__logo {
    order: -1;
    width: 133px;
    height: 28px;
    margin-right: 29px;
}

.page-header__visa {
    width: 74px;
    height: 24px;
    margin-right: 25px;
}

.page-header__phone {
    margin: 0 -8px 0 auto;
}
