.phone {
    text-align: right;
}

.phone__number {
    display: block;

    @include breakpoint($breakpoints-large down) {
        width: 40px;
        height: 40px;

        background-position: 50% 50%;
        background-repeat: no-repeat;
        background-image: url('../img/ico/contact.svg');
        border-radius: 10px;
        transition: background-color 250ms;

        &:hover {
            background-color: $color-primary;
        }

        &:focus {
            @include outline;
        }

        &:active {
            background-color: $color-primary-active;
        }
    }

    @include breakpoint($breakpoints-large) {
        color: $color-black;

        font-size: 20px;
        line-height: 1.2;

        &:hover {
            color: $color-primary-active;
        }

        &:focus {
            @include outline;
        }
    }
}

.phone__text {
    @include breakpoint($breakpoints-large) {
        color: $color-gray-500;
        font-size: 13px;
    }
}
