.slider-nav {
    display: flex;
    justify-content: center;
}

.slider-nav__button {
    display: flex;
    width: 10px;
    height: 10px;
    margin: 0;
    padding: 0;

    background-color: transparent;
    border: none;
    border-radius: 50%;

    transition: background-color 250ms;

    & + & {
        margin-left: 4px;
    }

    &::after {
        content: '';
        width: 7px;
        height: 7px;
        margin: auto;

        border: 1px solid $color-gray-200;
        border-radius: 50%;

        transition: background-color 250ms, border-color 250ms;
    }

    &:hover {
        &::after {
            background-color: $color-primary;
            border-color: $color-primary;
        }
    }

    &:focus {
        background-color: $color-primary;
        outline: none;

        &::after {
            background-color: $color-gray-800;
        }
    }

    &.tns-nav-active {
        &::after {
            background-color: $color-primary;
            border-color: $color-primary;
        }
    }
}
