.visually-hidden:not(.visually-hidden_small) {
    position: absolute;

    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    clip: rect(0 0 0 0);
    overflow: hidden;
}

.visually-hidden_small {
    @include breakpoint($breakpoints-large down) {
        position: absolute;

        width: 1px;
        height: 1px;
        margin: -1px;
        border: 0;
        padding: 0;

        clip: rect(0 0 0 0);
        overflow: hidden;
    }
}
