body {
    min-width: 375px;

    color: $color-black;

    font-family: $font-family, sans-serif;
    line-height: 1.5;
}

a {
    text-decoration: none;

    transition: color 200ms;
}

p {
    margin: 0 0 12px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin-top: 0;
    margin-bottom: 16px;

    font-family: $font-family-heading, $font-family, sans-serif;
    font-weight: 700;
    line-height: 1.2;
}

h1 {
    @include breakpoint($breakpoints-large down) {
        font-size: 36px;
    }

    @include breakpoint($breakpoints-large) {
        font-size: 60px;
    }
}

h2 {
    @include breakpoint($breakpoints-large down) {
        font-size: 30px;
    }

    @include breakpoint($breakpoints-large) {
        font-size: 48px;
    }
}
