@mixin outline($inset: false) {
    outline-width: 2px;
    outline-style: solid;
    outline-color: $color-primary-active;

    @if ($inset == 'inset') {
        outline-offset: -2px;
    } @else {
        outline-offset: 2px;
    }
}

@mixin breakpoint($props) {
    $breakpoint: nth($props, 1);
    $direction: if(length($props) > 1, nth($props, 2), false);

    @if ($direction == down) {
        @media screen and (max-width: $breakpoint - 1px) {
            @content;
        }
    } @else {
        @media screen and (min-width: $breakpoint) {
            @content;
        }
    }
}
